.game{

    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #321332;
}